:root {
    --body-background-color: #ffffff;
    --item-border-color: black;
    --version-font-color: white;
    --version-background-color: #1e88e5;
    --changelog--font-color: #757575;
    --link-color: black;
}

[data-theme="dark"] {
    --body-background-color: #292929;
    --item-border-color: #757575;
    --version-font-color: white;
    --version-color: #1e88e5;
    --changelog--font-color: #757575;
    --link-color: #ffffff;
}

body {
    background-color: var(--body-background-color);
    font-family: sans-serif;
    font-size: 20px;
}

#push {
    color: var(--changelog--font-color);
}

.item {
    border: 1px solid var(--item-border-color);
    margin: 5px;
    padding: 5px;
}

img {
    height: 20px;
    width: 20px;
}

.version {
    background-color: var(--version-background-color);
    color: var(--version-font-color);
}

.link:before,
.link:after {
    content: "\0000a0";
}

.name {
    align-items: center;
    display: flex;
}

.changelog {
    border-left: 1px solid var(--changelog--font-color);
    color: var(--changelog--font-color);
    font-size: 1.25rem;
    margin: 20px;
    padding-left: 5px;
    white-space: pre-wrap;
}

.changelog a {
    color: var(--changelog--font-color);
    text-decoration: underline;
}

a {
    color: var(--link-color);
    text-decoration: none;
}
