:root {
  --bg-color: #f6f5f4;
  --color: #000000;
  --link-color: #1a5fb4;

  --button-color: #ffffff;
  --disabled-text: #77767b;
  --hover: #deddda;
  --pressed: #c0bfbc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #241f31;
    --color: #ffffff;

    --link-color: #99c1f1;

    --button-color: #000000;
    --hover: #3d3846;
    --pressed: #5e5c64;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--color);
}

form {
  margin: 2% 5%;
}

input, select {
  width: 15%;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
}

/* Button Styles */

button,
label.radio > span {
  color: var(--color);
  background-color: var(--button-color);
}

button:hover,
label.radio:hover > span {
  background-color: var(--hover);
}

button:active,
label.radio:active > span {
  background-color: var(--pressed);
}

button:disabled {
  color: var(--disabled-text);
  background-color: var(--bg-color);
}

button:disabled svg path {
  fill: var(--disabled-text);
}

button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid;

  line-height: 24px;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

button:not(:disabled) {
  cursor: pointer;
}

